.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.carrusel {
  max-width: 600px;
  margin: 0 auto;
}

.pista {
  position: relative;
}

.slide {
  display: none;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.slide.activo {
  display: block;
}

.controles {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}

#anterior,
#siguiente {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

#anterior:hover,
#siguiente:hover {
  background: #eee;
}

img {
    width: 100%;
    height: auto;
}